:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: hsl(0, 100%, 99%, 0.98);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: hsl(25, 100%, 19%);

}

html{
  height: 100vh;
}

#app, body{
  margin: 0;
  height: 100%;
}